#grid {
  background-color: red;
  display: block;
  width: 80%
}

#grid div div{

  font-style: italic;
  display: inline-block;
  width: 200px;
  height: 100px;
}

.blue{
  background-color: blue;
}
.white{
  background-color: white;
}
