#wrapper{
  margin-right: auto;
  margin-left: auto;
  width: 900px;
}

#grid {
  background-color: red;
  display: block;
  height: 900px;
  margin-right: auto;
  margin-left: auto;
}

#grid div div{

  font-style: italic;
  display: inline-block;

}

.blue{
  background-color: blue;
}
.white{
  background-color: white;
}
